@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dirt {
  background-color: #2D241E;
  background-image: radial-gradient(#3a2d26 10%, transparent 11%), radial-gradient(#1f1814 10%, transparent 11%);
  background-size: 30px 30px;
}
.bg-grass {
  background-color: #344922;
  background-image: linear-gradient(45deg, #3a5127 25%, transparent 25%), linear-gradient(-45deg, #3a5127 25%, transparent 25%);
  background-size: 20px 20px;
}
.animate-dirt-moving { animation: dirt-moving 60s linear infinite; }
@keyframes dirt-moving { 0% { background-position: 0% 0%; } 100% { background-position: 100% 100%; } }
